@model IEnumerable<ChildrenHelper.DataBase.User>
@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>
<p>
    @Html.ActionLink("Добавить пользователя", "Create_user")
</p>
<table>
    <tr>
        <th>Имя </th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Ник</th>
        <th>Роль</th>
        <th>Мэйл</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SecName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Role.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    
    <td>
        @Html.ActionLink("Редактировать", "Edit_user", new { id = item.Id }) |
        @Html.ActionLink("Удалить", "Delete_user", new { id = item.Id })
    </td>
</tr>
    }
</table>
<p>

</p>